<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
<script src="/js/bootstrap.min.js" type="text/javascript"></script>

<h1>Hello, this is our sweet band homepage</h1>

<a href="/bands" class="btn btn-large btn-primary" type="button">Bands</a>